        <button class="color">Color Me!</button>
        <div class="color" height="100px" width="100px">

      </div>
      <%= render "comic_form" %>
    </article>
  <div class="col-2">
    <br />
  </div>
</div>
