    <h1>Comics!</h1>
    <% if @comics.any? %>
      <% @comics.each do |comic| %>
        <div class="comic-preview" >
          <h3>Title: <%= link_to comic.title, comic_path(comic) %></h3><br>
          <% if @strips.any? %>
            <% @strip = @strips.find_by(:comic_id => comic.id) %>
            <%= render "./strips/strip_preview" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h2>No comics added.</h2>
    <% end %>
  </article>
  <div class="col-2">
    <br />
  </div>
</div>
