/*   Headers   */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Waiting for the Sunrise', cursive;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px
}

ul {
  list-style-type: none;
  padding-left: 0;
}
