/*  NAVIGATION   */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    li.right {
      float: right;
      padding-top: 20px;
      padding-right: 10px;
      font-family: 'Waiting for the Sunrise', cursive;
      font-size: 2em;
    }
    li.left {
      float: left;
      padding-top: 20px;
      font-family: 'Waiting for the Sunrise', cursive;
      font-size: 2em;
    }
    li {
      float: left;
      .active {
        background-color: white;
      }
      a.logo {
        padding: 5px;
      }
      a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 8px;
          text-decoration: none;
          :hover:not(.active) {background-color: white;}
      }
      a:hover {
        color: yellow;
      }
    }
}
.logo {
  padding: 0px 0px -0px 7px;
  font-size: 2em;
  // font-family: 'Nothing You Could Do', cursive;
  img {
    height: 100px;
    width: 400px;
  }
}

@media screen and (max-width: 600px){
    ul.nav li.right,
    ul.nav li {float: none;}
}
